<!DOCTYPE html>
<html>
<head>
    <title><%= hotel.name %></title>
</head>
<body>
    <div class="container">
        <h1><%= hotel.name %></h1>
        <p><strong>Location:</strong> <%= hotel.location %></p>
        <p><strong>Description:</strong> <%= hotel.description %></p>
        <p><strong>Rating:</strong> <% hotel.rating %> stars</p>
        <a href="/hotels" class="bacl-link">Back to Hotels</a>
    </div>
</body>
</html>