<!DOCTYPE html>
<html>
<head>
    <title><%= hotel.name %></title>
</head>
<body>
    <h1><%= hotel.name %></h1>
    <p>Location: <%= hotel.location %></p>
    <p>Description: <%= hotel.description %></p>
    <p>Rating: <% hotel.rating %> stars</p>
    <a href="/hotels">Back to Hotels</a>
</body>
</html>