<!DOCTYPE html>
<html>
<head>
    <title>Hotels</title>
</head>
<body>
    <h1>Hotels</h1>
    <ul class="hotel-list">
        <% hotels.forEach(hotel => { %>
         <li class="hotel-item">
            <a href="/hotels/<%= hotel.id %>"></a><%= hotel.name %></a>"
            <span class="hotel-location"><%= hotel.location %></span>
            <span class="hotel-rating"><%= hotel.rating %> stars</span>
         </li>
        <% }) %>
    </ul>
    <h2>Add a new hotel</h2>
    <form action="/hotels" method="POST" class="hotel-form">
      <input type="text" name="name" placeholder="Name" required />
      <input type="text" name="location" placeholder="Location" required />
      <textarea name="description" placeholder="Description" required></textarea>
      <input type="number" name="rating" placeholder="Rating" step="0.2" min="0" max="10" required />
      <button type="submit">Add Hotel</button>
    </form>
</body>
</html>