<!DOCTYPE html> <!--edit to make more of a -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="autocomplete" placeholder="Enter a place" type="text"/>
    <button id="submit" onclick="storeInput()"class="button">Submit</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN3TP93F6l75a2qIh9ba7uUGbaLJ1zG3M&libraries=places&callback=initAutocomplete" async defer></script>
<script src="assets/hotelscript.js"></script>
</html>